@import "variables";

// Override element UI zoom transition
$--md-fade-transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) !default;

.el-zoom-in-top-enter-active,
.el-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center top;
}
.el-zoom-in-top-enter,
.el-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.el-switch.is-checked .el-switch__core{
  background-color: $primary-color;
  color: $primary-color;
  border-color: $primary-color;
}
.el-switch__label.is-active{
  color: $primary-color;
}

.el-input-number{
  border: none;
  .el-input-number__decrease{
    border-radius: 20px 0 0 20px;
    background-color: $primary-color;
    color: white;
  }
  .el-input-number__increase{
    border-radius: 0 20px 20px 0;
    background-color: $primary-color;
    color: white;
  }
  .el-input__inner{
    border: 1px solid transparent !important;
    background-color: white;
    border-radius: 20px;
    text-align: center;

  }
}
@mixin select($type, $color) {
  .select-#{$type}.el-select {
  }
  .select-#{$type}.el-select .el-input  {
    .el-input__suffix{
      display: flex;
      align-items: center;
    }
    &:hover{
      .el-input__icon,
      input {
        &::placeholder{
          color: white;
        }
        color: white;
      }
      input,
      .el-input__icon{
        background-color: $color;
      }

    }
    .el-input__icon{
      border-radius:20px;
      height: 20px;
    }

    input{
      background-color: white;
      border-color: $color !important;
      border-width: 1px;
      border-radius: 20px;
      color: $color;
    }
    .el-input__icon{
      color:$color;
    }
  }
  .select-#{$type}{

    .el-tag, .el-tag.el-tag--info {
      line-height: 24px;
      background-color: $color !important;
      border: none !important;
      .el-tag__close{
        width: 20px;
        height: 20px;
        top: 1px;
        color: white;
        background-color: transparent;
        &:hover {
          background-color: white;
        }
      }
    }
    &.el-select-dropdown__item.selected,
    &.el-select-dropdown__item.selected.hover {
      background-color: $color;
      color: white;
    }
  }

  &.el-select-dropdown.is-multiple
  .el-select-dropdown__item.selected{
    &.select-#{$type}{
      color: $color;
    }
  }
}

.el-select .el-input {
  &:hover {
    .el-input__icon,
    input {
      &::placeholder {
        color: white;
      }
      color: white;
    }
  }
}
.el-select-dropdown {
  border-radius:10px;
}

@include select('primary', $primary-color)

.btn {
  width: 150px;
  height: 40px;
  background: $primary-color;
  border-radius: 30px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f5f5f5;
  transition: all 0.2s ease;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.07);
  &.btn-outline {
    background: white;
    color: $primary-color;
    border-color: $primary-color;
  }
  &:hover {
    color: #f5f5f5;
    background-color: darken($primary-color, 5);
  }
}
